<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="get" action="index.html">
  <div class="box">
    <h1>Register</h1>


    <input [(ngModel)]="registerRequest.name" type="text" name="name" placeholder="name" class="text-input" />
    <input [(ngModel)]="registerRequest.username" type="text" name="username" placeholder="username" class="text-input" />
    <input [(ngModel)]="registerRequest.password" type="password" name="password" placeholder="password" class="text-input" />
    <br>
    <select [(ngModel)]="registerRequest.role" id="item" name="role">
      <option *ngFor="let a of list">{{a}}</option>
    </select><br><br><br><br>
    <button class="btn3" mat-raised-button color="primary" (click)="do()">Register</button>

  </div> <!-- End Box -->

</form>
