<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>


<div class="box" *ngIf="role == 'CT' && view0 == 'menu'">
  <h1>Welcome CONTROL TOWER</h1>

  <button class="btn3" mat-raised-button color="primary" (click)="addPlane()">Add Plane</button>
  <button class="btn3" mat-raised-button color="primary" (click)="getReports()">Get Reports</button>
  <button class="btn3" mat-raised-button color="primary" (click)="logout()">Logout</button>

  <br>
  <br>
  <div class="grow" style="margin: 5px" *ngFor="let r of reports"
       [ngStyle]="{'border':r.planestatus === 0 ? '5px solid gray': r.planestatus === 1 ? '5px solid green' : '5px solid red'}"
       (click)="viewReport(r)">Plane id:{{r.planeid}} Model:{{r.planemodel}}, Status:{{r.planestatus}}</div>

</div> <!-- End Box -->

<div class="box" *ngIf="role == 'CT' && view0 == 'report'">
  <button class="btn3" mat-raised-button color="primary" (click)="sp0()">Show planes</button>
  <h1>REPORT FOR PLANE id: {{report.planeid}} model: {{report.planemodel}} status: {{report.planestatus}}</h1>


  <br>
  <br>
  <div class="inline" style="width: 50%">{{report.r}}</div>
  <div class="inline" style="width: 50%">{{report.dr}}</div>

</div> <!-- End Box -->


<div class="box" *ngIf="role == 'USER' && view == 'menu'">
  <h1>Welcome USER</h1>
  <button class="btn3" mat-raised-button color="primary" (click)="getPlanes()">Get Planes</button>
  <button class="btn3" mat-raised-button color="primary" (click)="logout()">Logout</button>

  <br>

  <div class="grow" style="margin: 5px" *ngFor="let p of planes"
       [ngStyle]="{'border':p.status==='unchecked' ? '3px solid gray':'3px solid red'}"
       (click)="checkPlane(p.id)">Plane id:{{p.id}} Model:{{p.model}}, Status:{{p.status}}</div>

  <br>

</div> <!-- End Box -->
<div *ngIf="role == 'USER' && view == 'plane'">
  <button class="btn3" mat-raised-button color="primary" (click)="sp()">Show planes</button>

  <h1>Plane id: {{plane.id}} Model: {{plane.model}} Status: {{plane.status}}</h1>
  <button class="btn3" mat-raised-button color="primary" (click)="save()">Save Changes</button>
  <div>

    <div class="inline" [ngStyle]="{'border':plane.ws === 0 ? '5px solid gray': plane.ws === 1 ? '5px solid green' : '5px solid red'}">
      <img src="../../assets/images/wings.png" width="400" height="400"><br>
      <button class="btn3" mat-raised-button style="float: left;color: green" (click)="wok()">Ok</button>
      <button class="btn3" mat-raised-button style="float: left;color: red" (click)="wnok()">Not Ok</button>
      <br>
      <textarea [(ngModel)]="plane.wd" placeholder="problem description" class="text-input2"></textarea>
    </div>

    <div class="inline" [ngStyle]="{'border':plane.es === 0 ? '5px solid gray': plane.es === 1 ? '5px solid green' : '5px solid red'}">
      <img src="../../assets/images/engine.jpg" width="400" height="400"><br>
      <button class="btn3" mat-raised-button style="float: left;color: green" (click)="eok()">Ok</button>
      <button class="btn3" mat-raised-button style="float: left;color: red" (click)="enok()">Not Ok</button>
      <br>
      <textarea [(ngModel)]="plane.ed" placeholder="problem description" class="text-input2"></textarea>
    </div>
    <div class="inline" [ngStyle]="{'border':plane.lgs === 0 ? '5px solid gray': plane.lgs === 1 ? '5px solid green' : '5px solid red'}">
      <img src="../../assets/images/landingGear.jpg" width="400" height="400"><br>
      <button class="btn3" mat-raised-button style="float: left;color: green" (click)="lgok()">Ok</button>
      <button class="btn3" mat-raised-button style="float: left;color: red" (click)="lgnok()">Not Ok</button>
      <br>
      <textarea [(ngModel)]="plane.lgd" placeholder="problem description" class="text-input2"></textarea>
    </div>
  </div>
</div> <!-- End Box -->
<div class="box" *ngIf="role == 'PILOT'">
  <h1>Welcome PILOT</h1>


  <br>
  <br>

</div> <!-- End Box -->

