<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'
      xmlns="http://www.w3.org/1999/xhtml">
<div class="box" style="width: 95%">
  <button class="btn3" mat-raised-button color="primary" style="float: right;" (click)="logout()">Logout</button>
  <h1>Welcome {{userModel.name}} Email: {{userModel.email}}</h1>
  <h1 *ngIf="userModel.goal!==0">Goal= {{userModel.goal}} Ideal Burndown Rate={{subject.s}}</h1>
  <h1 *ngIf="userModel.goal===0">Goal= not set yet Ideal Burndown Rate={{subject.s}}</h1>
  <input [(ngModel)]="goal" type="number" name="goal" placeholder="goal" class="text-input" />
  <button class="btn3" mat-raised-button color="primary" (click)="setGoal()">Set Goal</button>
  <button class="btn3" mat-raised-button color="primary" (click)="getWReport()">Weekly Report</button>
  <button class="btn3" mat-raised-button color="primary" (click)="getMReport()">Monthly Report</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1 *ngIf="wasteO.waste && userModel.goal!==0">YOU WASTE {{subject.calWasted}} calories per day!!!</h1>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a *ngIf="wasteO.waste && userModel.goal!==0" style="font-size:1.5em;color:#525252;"href="https://www.trusselltrust.org/get-involved/ways-to-give/donate-food/">Donate here</a>
</div>


<div class="box1" style="margin: 10px; float: left">
  <h1>Add Grocery Form</h1><br>

  <input [(ngModel)]="itemModel.name" type="text" name="name" placeholder="name" class="text-input" /><br>
  <input [(ngModel)]="itemModel.quantity" type="number" name="quantity" placeholder="quantity" class="text-input" /><br>
  <input [(ngModel)]="itemModel.calories" type="number" name="calories" placeholder="calories" class="text-input" /><br>
  <input [(ngModel)]="itemModel.purchaseDate" type="date" name="purchaseDate" placeholder="purchaseDate" class="text-input" /><br>
  <input [(ngModel)]="itemModel.expirationDate" type="date" name="expirationDate" placeholder="expirationDate" class="text-input" /><br>
  <button class="btn3" mat-raised-button color="primary" (click)="add()">Add Grocery</button><br>
  <select id="item">
    <option *ngFor="let a of itemsModel">{{a.name}}</option>
  </select><br>
  <input [(ngModel)]="cdModel.consumptionDate" type="date" name="consumptionDate" placeholder="consumptionDate" class="text-input" /><br>
  <button class="btn3" mat-raised-button color="primary" (click)="cd()">Set Consumption Date</button>

</div>
<div class="box2" style="margin: 10px; float: left">
  <h1>Groceries</h1><br>
  <table width="900">
    <thead>
      <tr>
        <th style="float: left">Name</th>
        <th>Quantity</th>
        <th>Calories</th>
        <th>Purchase Date</th>
        <th>Expiration Date</th>
        <th>Consumption Date</th>
        <th>Cal/Day</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemsModel" >
      <td>{{item.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.calories}}</td>
      <td>{{item.purchaseDate.toString().slice(0,item.purchaseDate.toString().lastIndexOf('T'))}}</td>
      <td>{{item.expirationDate.toString().slice(0,item.expirationDate.toString().lastIndexOf('T'))}}</td>
      <td>{{item.consumptionDate.toString().substr(0,10)}}</td>
      <td>{{item.perDay}}</td>
    </tr>
    </tbody>
  </table>
  <div class="box2" style="margin: 10px;">
    <pre *ngIf="color===0">{{stringObj.myString}}</pre>
    <pre *ngIf="color===1" style="color: green">{{stringObj.myString}}</pre>
    <pre *ngIf="color===2" style="color: red">{{stringObj.myString}}</pre>
  </div>
</div>




